<div class="page-container">
  <div class="header">
    <h1>Books</h1>
    <button mat-raised-button color="primary" (click)="onAddBook()">
      Add New Book
    </button>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

  <div class="table-container" [class.loading-state]="loading">
    <app-table
      [data]="filteredBooks"
      [columns]="columns"
      [actions]="actions"
      [showFilter]="true"
      filterPlaceholder="Search by title..."
      (actionClicked)="handleAction($event)"
    ></app-table>
  </div>
</div>
