.app-toolbar {
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-left {
  display: flex;
  align-items: center;
}

.topbar-logo {
  height: 40px;
  margin-left: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.user-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.username {
  margin-right: 15px;
  font-size: 14px;
}

.profile-photo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid white;
}

@media (max-width: 768px) {
  .username {
    display: none;
  }
  .topbar-logo {
    height: 30px;
  }
}
